<h1>Summoner Profile </h1>
<h2>
    <div class = gravatar>
  <%= image_tag(@summoner[:icon]) %>
  <%= @summoner[:screen_name] %>
  Level <%= @summoner[:level] %>
  ID <%= @summoner[:id] %>
  
</h2>
   
</p>


<meta charset="utf-8">
<style>

.bar {
  fill: BlueViolet;
}

.axis text {
  font: 12px sans-serif;
  stroke: #8A2BE2;
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #8A2BE2;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>

<svg class="chart"></svg>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<%= javascript_tag do %>  

var myData = <%= raw game_type_wins%>

var margin = {top: 20, right: 30, bottom: 30, left: 40},
    width = 1200,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var chart = d3.select(".chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

function draw(data) {
    console.log(data);
    x.domain(data.map(function(d) { return d.name; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);

  chart.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  chart.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  chart.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.name); })
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); })
      .attr("width", x.rangeBand());
}

draw(myData);


function type(d) {
  d.value = +d.value; // coerce to number
  return d;
}

<% end %>
