<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "LOLTeam", root_path, id: "logo" %>
        <nav>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right ">
            <li> <%= form_tag summoners_path, html: {class: 'form-search', role: 'form-inline',  method: 'post'} do %>
              <div class="col-sm-8">
              <%= search_field_tag :summoner_name, nil, class: 'form-control', placeholder: 'Search'%>
              </div>
              <div class="col-sm-4">
              <%= submit_tag "Enter", class: 'btn btn-default' %>
              </div>
            <% end %> </li>
              <li><%= link_to "Home",   root_path %></li>
              <li><%= link_to "Help",   help_path %></li>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Champions", champions_path %></li>
            </ul>
          </div>
        </nav>
      </div>
      
    </header>
      <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>